body {
  cursor: pointer;
}

.products {
  border: 2px solid red;
}

.products:hover {
  cursor: pointer;
  background-color: aqua;
}


.box{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding:30px; width:100%; background: rgba(255, 255, 255, .9)
}


.margin{
  margin:3% auto;
}


.loginBG {
  /* The image used */
  background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(https://images.unsplash.com/photo-1443884590026-2e4d21aee71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1027&q=80) ;
   

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  
  
  background-size: cover;
}